<ion-header>
  <ion-navbar>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content *ngIf = "!load">
  <button ion-button color="primary" (click)="loadHome()">
    LOAD HOME
  </button>
</ion-content>


<ion-content class="card-background-page" *ngIf = "load">
  <ion-card style="margin-left:5%">
    
    <img [src]="link1"/>
    <div class="card-title">
      <button ion-button clear (click)="pikachu1Clicked()">
        <img src="../../assets/imgs/Pikachu-PNG-Transparent-Image.png">
      </button>
    </div>
  
  </ion-card> 
  
  <ion-card>
    
    <img [src] = "link2"/>
    <div class="card-title">
      <button ion-button clear (click)="pikachu2Clicked()">
        <img src="../../assets/imgs/Pikachu-PNG-Transparent-Image.png">
      </button>
    </div>
  
  </ion-card>

</ion-content>
