.card-background-page {
    margin-top: 10%;
    ion-card {
      width: 150px;
      height: 200px;
      position: relative;
      text-align: center;
      display: inline-block;
    }
  
    .card-title {
      position: absolute;
      top: 36%;
      left: 32%;
      font-size: 2.0em;
      height: 65px;
      width: 65px;
    //   position: relative;
      font-weight: bold;
      color: #fff;
    }
  
    .card-subtitle {
      font-size: 1.0em;
      position: absolute;
      top: 52%;
      width: 100%;
      color: #fff;
    }
  
  }
